.benefits__list {
    display: flex;
    margin-top: 49px;
    justify-content: center;
}

.benefits__item {
    flex: 1;
    padding: 0 3%;
    position: relative;

    &:before {
        content: url("../../img/benefit/shape.png");
        position: absolute;
        top: 30px;
        right: -30px;
        transform: translateХ(50%);
    }

    &:first-child {
        padding-left: 67px;
    }

    &:last-child {
        padding-right: 67px;

        &::before{
            display: none;
        }
    }
}