.feature{
    display: flex;
}

.feature__icon {
    width: rem(69px);
    margin-right: rem(7px);
    margin-top: rem(4px);
}

.feature__icon--car {
    margin-top: rem(10px);
}

.feature__text {
    font-size: rem(16px);
    max-width: rem(90px);
}