.form {
    display: flex;
}

.form__col {
    flex: 1;
    margin-right: rem(20px);


    &:last-child {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
}

.form__block {
    flex: 1;
    margin-right: rem(27px);
    padding-bottom: rem(6px);


    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    padding: rem(18px) rem(11px);
    border: solid rem(3px) transparent;
    border-radius: rem(4px);

    &--textarea {
        height: rem(152px);
        resize: none;
        width: rem(450px);
        margin-bottom: rem(22px);
    }

    &:focus {
        border-color: #fedb3f;
        outline: none;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
}