.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.header__logo {
    height: rem(39.26px);
    width: rem(55.56px);
    margin-top: rem(12px);
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}



