.section {
    height: 100vh   ;
    min-height: rem(650px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--white {
        color: #fff;

        .section__title {
            color: inherit;
        }
    }
}

.section__title {
    font-size: rem(58px);
    font-weight: bold;
    margin-bottom: rem(50px);
    display: flex;
    justify-content: center;
    color: #292929;
}

